html, body {
    margin: 0;
    padding: 0;
}

.content-wrapper {
	display: flex;
	flex-wrap: nowrap;
}

.content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

