html, body {
  margin: 0;
  padding: 0;
}

.content-wrapper {
display: flex;
flex-wrap: nowrap;
}

.content {
  display: flex;
  align-items: flex-start;
  flex-grow: 1; /* 允许 content 占据剩余的空间 */
  padding: 20px;
  width: 100%; /* 确保 content 横向占满 */
  box-sizing: border-box;
}

.logs-content {
  width: 100%; /* 确保 logs-content 占据 content 的全部宽度 */
  min-height: 70vh;
  max-height: 70vh;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* 添加垂直滚动条 */
  box-sizing: border-box; /* 包含边框和内边距在宽度和高度计算中 */
}


/* system-info.component.css */
.system-info-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: Arial, sans-serif;
  height: 100vh; /* 确保容器的高度为视口高度 */
  align-items: center; /* 水平居中对齐 */
}



.logs-content h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: rgb(96, 93, 200); /* 使用你的主色调 */
}

.logs-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.logs-content li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word; /* 确保长行能够换行 */
}

.logs-content li:last-child {
  border-bottom: none; /* 最后一项没有下边框 */
}

.logs-content p {
  font-style: italic;
  color: #666;
}