<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<div class="content-wrapper">
  <lib-ng-simple-sidebar></lib-ng-simple-sidebar>
    <div class="content">
      <div class="logs-content">
        <ng-container *ngIf="loading">
          <p>Loading logs...</p>
        </ng-container>
    
        <ng-container *ngIf="!loading && logData">
          <h2>Logs for {{ logData.filename }}</h2>
          <ul>
            <li *ngFor="let line of logData.content">{{ line }}</li>
          </ul>
        </ng-container>
    
        <ng-container *ngIf="!loading && !logData">
          <p>No logs available.</p>
        </ng-container>
      </div>
    </div>
  </div>